/* This function can be used to center any div or block elements, though im unsure if itll work well with inline elements */
.center {
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
}

.specialcenter {
    display: flex;
    gap: 52px; /* Optional: space between the boxes */
    justify-content: center; /* Optional: center horizontally */
}

h1 {
    color: blue;
    text-align: center;
    font-family: cursive;
}

div[id="searchDiv"] {
    text-align: center;
}

button {
    margin-left: 10%;
}

div[id="autoDropDown"] {
    padding-top: 20px;
    text-align: center;
}

div[id="yearBox"] {
    font-family:sans-serif;
    text-align: center;

    padding: 10px;
    height: 80px;

    border: 1px solid gray;
    border-radius: 5px;
}

div[id="problemBox"] {
    font-family:sans-serif;
    text-align: center;

    padding: 10px;
    height: 80px;

    border: 1px solid gray;
    border-radius: 5px;
}





